<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.theandroiddev.mywins">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->

    <!--<uses-feature-->
    <!--android:name="android.hardware.camera"-->
    <!--android:required="true"/>-->

    <application
        android:name=".MyWinsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".successes.SuccessesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".InsertSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Dialog"/>
        <activity
            android:name=".edit_success.EditSuccessActivity"
            android:label="@string/title_activity_edit_success"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ImportancePopupActivity"
            android:theme="@style/AppTheme.Dialog">
        </activity>
        <activity
            android:name=".images.ImageActivity"
            android:theme="@style/AppTheme.Dialog.No.Bg">
        </activity>
        <activity android:name=".edit_success.EditDescriptionActivity">
        </activity>
        <activity android:name=".success_slider.SuccessSliderActivity">

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>